1.json
{
  "name": "Bitcoin Price Alert",
  "nodes": [
    {
      "parameters": {},
      "id": "00000000-0000-0000-0000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd",
        "authentication": "none",
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "id": "00000000-0000-0000-0000-000000000002",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "threshold",
              "value": 70000,
              "type": "number"
            }
          ]
        }
      },
      "id": "00000000-0000-0000-0000-000000000003",
      "name": "Set Threshold",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.bitcoin.usd }}",
              "rightValue": "={{ $json.threshold }}",
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "00000000-0000-0000-0000-000000000004",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "alerts@example.com",
        "toEmail": "user@example.com",
        "subject": "Bitcoin price alert: {{ $json.bitcoin.usd }} USD",
        "text": "Bitcoin price is above {{ $json.threshold }} USD. Current price: ${{ $json.bitcoin.usd }}.",
        "service": "SMTP"
      },
      "id": "00000000-0000-0000-0000-000000000005",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1050,
        200
      ],
      "credentials": {
        "smtp": {
          "id": null,
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {},
      "id": "00000000-0000-0000-0000-000000000006",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Threshold": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}