2.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "6542001d-c800-4540-aef7-246dd2e7af58",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1184,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c7c911ea-60cf-457e-8be1-744ddef9eb4a",
      "name": "Set Threshold",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1008,
        384
      ]
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=ethereum&vs_currencies=usd",
        "options": {}
      },
      "id": "975f511b-c868-4bcb-90a8-7f37b8a87e85",
      "name": "Get ethereum Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $node[\"Get ethereum Price\"].json.ethereum.usd }}",
              "rightValue": "={{ $node[\"Set Threshold\"].json.threshold }}",
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "7132a4b1-1ea5-4ac4-8c92-ecf5f8ce0915",
      "name": "Check Price",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        384
      ]
    },
    {
      "parameters": {
        "subject": "=ethereum Alert: {{$node[\"Get ethereum Price\"].json.ethereum.usd}} USD",
        "text": "=ethereum price is above {{$node[\"Set Threshold\"].json.threshold}} USD. Current price: ${{$node[\"Get ethereum Price\"].json.ethereum.usd}}.",
        "options": {}
      },
      "id": "275fb13a-33f1-46e9-9ee2-c94329b7e2dc",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -320,
        272
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {
          "reset": true
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        32,
        368
      ],
      "id": "ae52a699-91a7-4271-ba2a-cf5250656ed1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -144,
        320
      ],
      "id": "30a50555-9c9c-4a73-8dc7-98a4a1a4442a",
      "name": "Wait",
      "webhookId": "76755569-4b56-4809-89f0-a2799714b7cf"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Threshold": {
      "main": [
        [
          {
            "node": "Get ethereum Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ethereum Price": {
      "main": [
        [
          {
            "node": "Check Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Price": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c71ff2c5d3ab110e1db2c8ab02cddfcc1d6b49b3925b8fcb07716237123c6ac"
  }
}